<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find 4ws_car)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4ws_car/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
	  <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://4ws_car/meshes/base_link.STL" />
      </geometry>
    </collision>
	  <inertial>
      <origin
        xyz="0 -1.14491749414469E-16 1.39011762435083"
        rpy="0 0 0" />
      <mass
        value="713.808628330588" />
      <inertia
        ixx="142.749183568638"
        ixy="-2.3435707584632E-14"
        ixz="9.18848514806818E-16"
        iyy="189.782092071795"
        iyz="4.07823401388039E-15"
        izz="305.777739647351" />
    </inertial>
	</link>
  </xacro:macro>
  
</robot>
